<html>{% load staticfiles %}
<head>
    <script src="{% static 'ui/js/raphael-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.raphael-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.bar-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.dot-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.line-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.pie-min.js.gz' %}"></script>
    <script>
        window.onload = function () {
            var r;
            // Set up the barchart and hover animation
            r  = Raphael("chart"),
                fin = function () {
                    this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
                },
                fout = function () {
                    this.flag.animate({opacity: 0}, 300, function () {this.remove();});
                },
                txtattr = { font: "13px sans-serif" };

            // Render the barchart
            r.barchart(0, 0, 600, 260, [
                {% for count in counts %}
                    {{ count }},
                {% endfor %}
                    ]).hover(fin, fout);

            // Render the accompanying text
            r.text(115, 250, "File operations over the past 4 hours").attr(txtattr);
            r.text(115, 268, "Each bar is 20 minutes").attr(txtattr);
        };
    </script>
</head>
<body>
    <h2>GlusterFlow : Host usage profile over time</h2>
    <br />
    <div id="chart"></div>
    <div id="info_rows">
        Time now: {{ rightnow }}
        <br />
        <br />
        <h3>Busiest files</h3>
        <table>
            <tr><th>Filenames</td><th># of file operations</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>
</body>
</html>
