<html>{% load staticfiles %}
<head>
    <script src="{% static 'ui/js/raphael-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.raphael-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.bar-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.dot-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.line-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.pie-min.js.gz' %}"></script>
    <script>
        <!-- Placeholder -->
    </script>
</head>
<body>
    <div id="placeholder"></div>
</body>
</html>
