<html>{% load staticfiles %}
<head>
    <script src="{% static 'ui/js/raphael-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.raphael-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.bar-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.dot-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.line-min.js.gz' %}"></script>
    <script src="{% static 'ui/js/g.pie-min.js.gz' %}"></script>
    <script>
            window.onload = function () {
                var r = Raphael("chart"),
                    fin = function () {
                        this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
                    },
                    fout = function () {
                        this.flag.animate({opacity: 0}, 300, function () {this.remove();});
                    },
                    txtattr = { font: "13px sans-serif" };

                r.text(115, 250, "File operations over the past 24 hours").attr(txtattr);

                r.barchart(0, 0, 400, 220,
                           [{{ count6 }}, {{ count5 }}, {{ count4 }}, {{ count3 }}, {{ count2 }}, {{ count1 }}]).hover(fin, fout);
            };
    </script>
</head>
<body>
    <div id="chart"></div>
    <div id="info_rows"></div>
</body>
</html>
